* {
    border: 0;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  height: 100%;
}

li {
  list-style-type: none;
}

.dashboard {
  display: grid;
  grid-template: .5fr 3fr / 1fr 4fr;
  height: 100%;
}

nav {
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  background-color: oklch(41.1% 0.18534 328.309);
  color: oklch(86.892% 0.18823 109.766);
  padding: 1rem;
}

nav .nav-top {
  display: flex;
  align-items: center;
  gap: .5rem;
  justify-content: center;
}

nav .nav-top img {
  height: 3rem;
  width: 3rem;
}

nav .content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 3rem;
  margin-left: .5rem;
}

nav .content ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

nav .content img {
  height: 1.5rem;
  width: 1.5rem;
}

nav .content li {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-weight: bold;
  font-size: large;
}

.dashboard img {
  height: 1rem;
  width: 1rem;
}

.dashboard .me {
  border-radius: 50%;
}

.dashboard > header{
  grid-row: 1 / 2;
  grid-column: 2 / -1;
  background-color: oklch(86.892% 0.18823 109.766);
  color: oklch(41.1% 0.18534 328.309);
  padding: 1rem 3rem;
  box-shadow: 0 2px 8px 2px rgb(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 1;
}

header .header-top {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

header .header-top img {
  width: 1.5rem;
  height: 1.5rem;
}

header .header-top [src$="notification.svg"] {
  margin-inline-start: 5rem;
}

header .header-top h2 {
  font-size: 1.1rem;
}

header .header-top form {
  border-radius: 1rem;
  background-color: oklch(94.007% 0.00011 271.152);
  display: flex;
  justify-content: center;
  margin-inline-end: auto;
  flex-grow: 1;
  align-self: stretch;
}

header .header-top input {
  width: 100%;
  background-color: inherit;
  border-radius: inherit;
  padding-inline:.5rem .012rem ;
}

header .header-top .me {
  height: 2rem;
  width: 2rem;
}

.header-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-weight: bold;
  align-items: center;
}

.header-bottom .user-info .me {
  height: 3rem;
  width: 3rem;
}

.header-bottom .user-info {
  grid-column: 1;
} 

.header-bottom .button-group {
  grid-column: 3;
  display: flex;
}

header .header-bottom > div {
  display: flex;
  gap: 1.5rem;
}

.user-info .welcome-message p{
  font-size: .8rem;
}

.user-info .welcome-message .username {
  font-size: 1.2rem;
}

.header-bottom .button-group .btn {
  background-color: oklch(41.1% 0.18534 328.309);
  color: oklch(86.892% 0.18823 109.766);
  font-weight: bold;
  padding: 0.5rem 1.2rem;
  border-radius: 1rem;
  flex-basis: 0;
  flex-grow: 1;
}

.main-content {
  background-color: oklch(92.169% 0.10317 108.287);
  grid-row: 2 / -1;
  grid-column: 2 / -1;
  padding: 2rem 1rem;
  display: grid;
  grid-template: 1fr / 2.3fr 1fr;
  gap: 1rem;
}

.main-content .projects-section {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.main-content .projects-section .projects-heading {
  margin-bottom: 1rem;
  color: oklch(41.1% 0.18534 328.309);
}

.main-content .projects-section ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}


li.project-item a {
  text-decoration: none;
  color: oklch(41.1% 0.18534 328.309);
}

article.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-header > h4 {
  font-weight: bold;
  text-align: start;
  font-size: 1rem;
}

.projects-section .card {
  border-left: 0.4rem solid oklch(86.892% 0.18823 109.766);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  padding: .8rem;
  background-color: oklch(94.007% 0.00011 271.152);
}

.card-body {
  margin-bottom: 1.5rem;
  flex: 1;
}

.card-body p {
  font-size: 1rem;
  padding: 0 1rem 1rem 0;
  text-align: left;
}

.card .card-actions {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.card .card-actions img {
  width: 1.5rem;
  height: 1.5rem;
}

main .main-content .right-sidebar {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.main-content .right-sidebar section > ul {
  background-color: oklch(94.007% 0.00011 271.152);
  border-radius: 0.5rem;
  color: oklch(41.1% 0.18534 328.309);
  padding: 1rem;
}

.main-content .right-sidebar section > h3 {
  color: oklch(41.1% 0.18534 328.309);
}

.right-sidebar .announcements {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  margin-bottom: 2.5rem;
}

.right-sidebar .announcements ul {
  padding: 1rem;
  background-color: oklch(94.007% 0.00011 271.152);
  border-radius: 0.5rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.right-sidebar .announcements li {
  padding-block: .5rem;
}

.right-sidebar .announcements li:nth-child(2) {
  border-block: 1px solid oklch(86.892% 0.18823 109.766);
}

.right-sidebar .announcements h3 {
  margin-bottom: 1rem;
}

.announcements .announcement p {
  font-size: 0.7rem;
  color: oklch(0% 0 0);
}

.right-sidebar .trending h3 {
  margin-bottom: 1rem;
}

.right-sidebar .trending > ul{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}

.right-sidebar .trending img {
  height: 3rem;
  width: 3rem;
}

.right-sidebar .trending li {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.right-sidebar .trending  div {
  color: oklch(0% 0 0);
}

.trending-item div > p:first-child {
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}